<!-- Footer -->
<hr>
<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <!-- <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul> -->
        <p class="copyright text-muted">Copyright &copy; The Churchill Chronicle {{ 'now' | date: "%Y" }}</p>
      </div>
      <div class="col-lg-4">
        <p class="copyright text-muted">
          Created with ❤️ by <a href="https://yangrichard.com">Richard Yang</a>
        </p>
      </div>
    </div>
  </div>
</footer>
