<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if page.title %}{% capture title %}{{ page.title | escape }} | {{ site.title | escape }}{% endcapture %}
  {% else %}{% capture title %}{{ site.title | escape }}{% endcapture %}{% endif %}
  <title>{{ title }}</title>

  {% capture description %}{{ page.excerpt | default: site.description | strip_html | normalize_whitespace |
      truncate: 160 | escape }}{% endcapture %}
  <meta name="description" content="{{ description }}">
  
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
      href="{{ "/feed.xml" | relative_url }}">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="/images/The-Churchill-Chronicle-monogram-og.png">
  <meta property="og:description" content="{{ description }}">

  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/favicon.png">

  <style>
  {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
  {{ scss_sheet | scssify }}
  </style>

  <!-- Global site tag -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131450444-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-131450444-3');
  </script>
</head>
