{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | replace: '//', '/' }}')">
  <div class="overlay"></div>
{% else %}
<header class="masthead" style="background-color: white; height: auto;">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto align-self-center">
        {% if page.background %}
        <div class="page-heading">
        {% else %}
        <div class="page-heading" style="color: #212529; padding-top: 150px; padding-bottom: 40px;">
        {% endif %}
          {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% else %}
          <img src="/images/The-Churchill-Chronicle-logo-header-white.png">
          {% endif %}
          
          {% if page.description %}
          <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
